.header {
  position: relative;
}
.header:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #3a4256;
  z-index: -10;
}

.header-main-left {
  background-image: url("../../assets/images/chairBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
